table.book {
  margin-top: 1em;
  border-collapse: collapse;
  min-width: 700px;
}

table.book caption {
  margin-bottom: 1.5em;
}

table.book caption span.title {
  font-size: 150%;
  padding: 0 0.5em;
  border-bottom: 4px double red;
}

table.book th, table.book td {
  padding: 0.2em 0.5em;
}

table.book th {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

table.book td {
  border-bottom: 1px dotted red;
}

table.book col {
  border-left: 1px solid red;
}

table.book caption+colgroup col, table.book colgroup.account col.credit {
  border-left: 0;
}

table.book span.account:before {
  content: '（';
}

table.book span.account:after {
  content: '）';
}

table.book tr.trn-last td.description {
  border-bottom: 1px solid black;
}

table.book td.value {
  text-align: right;
}
